<div class="container">
    <div class="aboutProj">
        <h1 class="aboutProj__title"> О Проекте</h1>
        <p class="aboutProj__caption">Проект написан с помощью Angular завернут в Electron. Не дописал обработку ошибок
            и сделал минимальный прелоадер, к сожалению не было достаточно ремени на доработку</p>
    </div>
    <div class="aboutMe">
        <h1 class="aboutMe__title">Обо мне</h1>
        <div class="aboutMe__caption">
            <ul> Есть опыт в работе с:

                <li>-HTML</li>
                <li>-CSS</li>
                <li>-JavaScript</li>
                <li>-React (Router, хуки, ленивая загрузка)</li>
                <li>-Angular (angular cli)</li>
                <li>-RxJs</li>
                <li>-БЭМ</li>
                <li>-Redux Toolkit (RTK query, persist)</li>
                <li>-Git</li>
                <li>-адаптивная верстка</li>
                <li>-верстка по макету + Pixel perfect</li>
                <li>-rest api</li>
                <li>-npm</li>
                <li>-сборщиками типа WebPack, Parcel, Create React App, Vite</li>
                <li>TypeScript</li>
                <li>Next.js</li>
                <li>Bootstrap5</li>

            </ul>
            <p>

                мой Telegram:
                <a href="https://t.me/@Animus93">@Animus93</a>
            </p>

            <p>

                мой github:
                <a href="https://github.com/Animus93">https://github.com/Animus93</a> большинство работ имеют активные
                страницы содержащие демо
            </p>
            <p>
                Резюме <a href="assets/resume.pdf">Ерёмин Дмитрий Frontend</a>
            </p>
        </div>
    </div>
</div>